{% extends 'layout.html' %}
{% block container %}
	<div class="container img-portada">
		<img src="/images/publipic_portada.png" width='100%' height='100%'>

		<div class="centrada-success">
			<div class="row-fluid">
				<div class="registro-header">
					<div class="logo-header">
						<a href="/">
							<img src="/images/logotipo.png" width="125px" alt="">
						</a>
					</div>
					<div class="texto-header">
						<h1 style='color:#fff; font-size:45px'>#PubliPicGuate</h1>
					</div>
				</div>
				<div class="col-md-12">
					<p class="texto">
						Ya eres parte de esta nueva experiencia <br>
						recuerda que, mientras más compartas más ganas <br>
						y más beneficios obtienes.
					</p>
				</div>
				<div class="col-md-8">
	            <div id="social">
	  	          <a href="https://www.facebook.com/pages/Publi-Pic/635366919874332" target="_blank">
	                <i class="fa fa-facebook-square" style='font-size:40px'></i>
	              </a>
	            </div>
			</div>
		</div>
	</div>
{% endblock %}success