<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="bz6k9YSE-kMm2IP5FWY2EpuY14Yv68zswT-7r8yGdNU" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="google-site-verification" content="bz6k9YSE-kMm2IP5FWY2EpuY14Yv68zswT-7r8yGdNU" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
	<title>{{title}}</title>

	{% block head %}
	{% endblock %}
</head>
<body>
	{% block header %}
	{% endblock %}
	

	{% block container %}
	{% endblock %}

	<!--/FOOTER-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/compiled.js"></script>
</body>
</html>